.app {
    display: flex;
    justify-content: space-evenly;
}

.page-container {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 50%;
    height: 500px;
}

.page {

}
